:root {
  --primary-color: rgb(155, 59, 211);
  --danger-color: rgb(211, 20, 20);
  --warning-color: rgb(224, 248, 7);
  --green-color: rgb(10, 230, 65);
  --gray-color: rgb(138, 138, 138);
  --light-color: rgb(238, 238, 238);
  --white-color:rgb(255, 255, 255);
  --dark-color: #121427;
  --dark-200-color: #161727;
}
