@import '../_variables/themeColors';

.primary_color{
    color: var(--primary-color);
}

.danger_color{
    color: var(--danger-color);
}

.warning_color{
    color: var(--warning-color);
}

.green_color{
    color: var(--green-color);
}

.gray_color{
    color: var(--gray-color);
}

.dark_color{
    color: var(--dark-color);
}

.dark_color{
    color: var(--dark-color);
}

.dark_200_color{
    color: var(--dark-200-color);
}

.light_color{
    color: var(--light-color);
}

.white_color{
    color: var(--white-color);
}