@import "../_variables/themeColors";

.rtl_design{
  direction: rtl;
}

.application_dark_mode_theme {
  background-color: var(--dark-200-color);
  color: var(--light-color);
  transition: 0.3s;
}
.application_light_mode_theme {
  background-color: var(--light-color);
  color: var(--dark-color);
  transition: 0.3s;
}

.sidebar_dark_mode_theme {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.2s;
}
.sidebar_light_mode_theme {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 0.2s;
}

.linechart_dark_mode_theme {
  transition: 0.2s;
}
.linechart_light_mode_theme {
  color: var(--dark-color);
  transition: 0.2s;
}

.basecard_dark_mode_theme {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.2s;
}
.basecard_light_mode_theme {
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: 0.2s;
}

.basemodal_dark_mode_theme {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.2s;
}
.basemodal_light_mode_theme {
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: 0.2s;
}